 * {
     background-color: rgb(20, 19, 19);
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
     color: white;
 }

 main {
     color: white;
     font-family: 'Courier New', Courier, monospace;
     font-size: 100px;
     font-weight: bolder;
     text-align: center;
 }

 .scramble {
     width: 80%;
     margin: auto;
     height: 50px;
     font-size: 40px;
     text-align: center;
     color: aqua;
 }

 .solves {
    height: 400px;
     color: white;
     width: 100px;
     text-align: center;
     position: absolute;
     top: 7px;
     font-size: larger;
     overflow-x: hidden; 
     overflow-y: scroll;
     overflow-wrap: break-word;
 }

 footer {
     width: 100%;
     position: absolute;
     bottom: 30px;
     font-size: 20px;
 }

 .footer {
     display: grid;
     grid-template-columns: auto auto auto auto;
     text-align: center;
 }

 .clear {
     height: 30px;
     position: absolute;
     background-color: red;
     border-radius: 5px;
     right: 20px;
     width: 100px;
 }

 #timer {
     position: absolute;
     left: 40%;
     top: 40%;
 }